<$ include std_doctype_html_decl $>
<head>
  <$ defaultPageTitle="Idoc Console" $>
  <$ include std_html_head_declarations $>
  <style type="text/css">
    .container {
      width: 900px;
    }
    #eval {
      width: 100%;
      height: 400px;
    }
    #output {
      width: 100%;
      height: 400px;
    }
  </style>
</head>
<$styleHeaderClass = "xuiAltHeader"$> <$if slimResults or damResults or
myViewResults or isCustomResultTemplate$> <$styleHeaderClass =
"xuiListHeaderCell"$> <$endif$>
<body id="body" <$include body_def_internal$>>
  <$ include std_page_begin $>
  
  <h1>Idoc Console</h1>
  
  <form action="" method="get">
    <input type="hidden" name="IdcService" value="EVALUATE_IDOC" />
    <div class="container">
  	<table style="width: 100%">
  		<tr>
  			<td class="<$styleHeaderClass$>"><$lc("tsIdocScript")$></td>
  			<td>&nbsp;</td>
  			<td class="<$styleHeaderClass$>"><$lc("tsResult")$></td>
  		</tr>
  		<tr>
  			<td style="text-align: right; width: 44%">
              <textarea name="eval" id="eval"><$ if eval $><$ eval $><$ endif $></textarea>
            </td>
  			<td style="width: 2%;">&nbsp;</td>
  			<td style="width: 44%">
              <div id="output"><pre><$ if output $><$ output $><$ endif $></code></div>
            </td>
  		</tr>
  	</table>
  	<button onClick="submitUpdate()"><$lc("wwSubmit")$></button>
  	&nbsp;
  	<button onClick="reset()"><$lc("wwReset")$></button>
  	&nbsp;
    </div>
  </form>

  <$ include std_page_end $>
</body>
</html>